input[type="text"]:focus { outline: none; }                 /*дружелюбные инпуты*/
input[type="text"] {padding-left:30px;}
button:focus {
    outline: none;
}

/*подключение шрифтов*/

/*FontAwesome*/
@import url("/font-awesome.css");

/*PD DinDisplay Pro Black*/
@font-face {
    font-family: PF-DinDisplay-Pro;
    src: url(/fonts/PF-DinDisplay-Pro.ttf);
}

/*Circe*/
@font-face {
    font-family: Circe-Regular;
    src: url(/fonts/Circe-Regular.otf);
}

/*OpenSans - Open Sans, sans-serif*/


html, body{
    margin:0;
    padding:0;
    font-size: 16px;
    min-width: 1600px;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/*общий стиль секции*/
section{
    min-width:1600px;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*стили секции с градиентом*/
.gradient{
    background: -moz-linear-gradient(45deg,  #6cddd5 0%, #965dff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #6cddd5 0%,#965dff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #6cddd5 0%,#965dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: inset 0px 3px 4px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow:    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.3);
    box-shadow:         inset 0px 3px 4px 0px rgba(255, 255, 255, 0.3);
}

.blank{
    background-color: white;
}

/*контейнер*/
.first-slide-article{
    width:1220px;
    margin:0 auto;
}

/*заголовок*/
.first-slide-title{
    color: white;
    font-size: 2.5rem;
    font-family: Circe-Regular;
    font-weight: 400;
    text-align: center;
    margin: 220px auto 0;
}

.first-slide-subtitle{
    color: white;
    font-size: 1.875rem;
    font-family: Circe-Regular;
    font-weight: 400;
    text-align: center;
    margin: 40px auto 0;
    line-height: 30px;
}

.first-slide-buttons-layer{
    margin: 0 auto;
    margin-top: 90px;
    height: 44px;
    width: 490px;
}

.first-slide-button {
    width:218px;
    height: 44px;
    border:none;
    border-radius:25px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Open Sans";
    background: rgb(75, 156, 254);
    background: -moz-linear-gradient(180deg, rgb(75, 156, 254) 50%, rgb(50, 131, 249) 100%);
    background: -webkit-linear-gradient(180deg, rgb(75, 156, 254) 50%, rgb(50, 131, 249) 100%);
    background: -o-linear-gradient(180deg, rgb(75, 156, 254) 50%, rgb(50, 131, 249) 100%);
    background: -ms-linear-gradient(180deg, rgb(75, 156, 254) 50%, rgb(50, 131, 249) 100%);
    background: linear-gradient(90deg, rgb(75, 156, 254) 50%, rgb(50, 131, 249) 100%);
}

.first-slide-partners{
    margin:60px auto 80px;
    width:830px;
}

.first-slide-partners td{
    height:60px;
    width:25%;
    color:white;
    font-family: "Open Sans";
    font-size: 0.8125rem;
    text-align: center;
    padding:0 20px;
}

.first-slide-partners td img{
    width:70px;
}

.second-slide-title{
    margin: 295px auto 0;
    color:#3a4d60;
    font-size: 3rem;
    font-family: Circe-Regular;
    font-weight: 400;
    text-align: center;
}

.second-slide-text{
    display: block;
    margin:40px auto 285px;
    width:1050px;
    font-size: 1.5rem;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    color:#3a4d60;
}

/*стили навигации*/
/*контейнер для полосы*/
.navigation{

    box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
}

.navigation-bar{
    width:1600px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/*логотип-заголовок*/
.navigation-bar-logo{
    margin-left: 170px;
    font-family: Circe-Regular;
    font-size: 1.125rem;
    color:white;
    width:300px;
    line-height: 1;
    margin-right: 140px;

}
/*ссылки*/
.navigation-bar-links{
    padding:0;
    margin:0;
}
.navigation-bar-links>li{
    display: inline-block;
    font-family: "Open Sans";
    font-size: 0.8125rem;
    color:white;
    margin-right: 45px;
    height:100px;
    line-height: 100px;
}
/*кнопка*/
.navigation-bar-button{
    border: 0;
    width:165px;
    height: 33px;
    background-color: white;
    color: #626262;
    line-height:35px;
    border-radius: 15px;
    font-size: 0.75rem;
    font-family: "Open Sans";
}

